[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
    url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "home/.vim/bundle/editorconfig"]
	path = home/.vim/bundle/editorconfig
    url = https://github.com/editorconfig/editorconfig-vim.git
    ignore = dirty
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline.git
    ignore = dirty
[submodule "home/.vim/bundle/fzf"]
	path = home/.vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
	ignore = dirty
[submodule "home/.vim/bundle/fzf.vim"]
	path = home/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	ignore = dirty
