'global':
  'exception-reporting':
    'userId': 'db51cad4-82e1-4bc0-cc93-449bd743d7e9'
  'release-notes':
    'viewedVersion': '0.92.0'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'f98723003432ede403e38c56f7fee9ad398c422e'
  'editor':
    'fontSize': 12
    'showInvisibles': true
  'core':
    'themes': [
      'seti-ui'
      'seti-monokai'
    ]
    'disabledPackages': [
      'term'
      'atom-jshint'
      'file-icons'
    ]
    'useReactEditor': true
  'minimap':
    'plugins':
      'find-and-replace': true
      'git-diff': true
      'highlight-selected': true
  'browser-refresh':
    'saveFilesBeforeRefresh': true
  'iTunes':
    'showEqualizer (WindowResizePerformanceIssue)': false
  'open-in':
    'applications': 'SourceTree,Terminal,Finder,WebStorm'
  'project-manager':
    'sortByTitle': true
  'highlight-line':
    'enableUnderline': true
  'autoclose-html': {}
