# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'.atom-workspace .atom-text-editor:not(.mini), .atom-workspace':
  'cmd-<': 'unset!'

'.platform-darwin .atom-text-editor, .atom-workspace':
  'ctrl-cmd-i': 'script:run'

'.platform-darwin .atom-text-editor':
  'shift-cmd-H': 'git-plus:menu'

'atom-text-editor:not(.mini)':
  'ctrl-alt-b': 'atom-beautify:beautify-editor'
