'atom-keyboard-shortcuts':
  'title': 'atom-keyboard-shortcuts'
  'paths': [
    '/Users/nils.winkler/workspaces/atom/atom-keyboard-shortcuts'
  ]
'bookmarklet':
  'title': 'bookmarklet'
  'paths': [
    '/Users/nils.winkler/workspaces/atom/bookmarklet'
  ]
'dotfiles':
  'title': 'dotfiles'
  'paths': [
    '/Users/nils.winkler/.homesick/repos/dotfiles'
  ]
'sp-spy':
  'title': 'sp-spy'
  'paths': [
    '/Users/nils.winkler/workspaces/html5-git/modules/sg-spy'
  ]
'.m2':
  'title': '.m2'
  'paths': [
    '/Users/nils.winkler/.m2'
  ]
'html5':
  'title': 'html5'
  'paths': [
    '/Users/nils.winkler/workspaces/html5-git/html5-framework-build'
  ]
'bash-it':
  'title': 'bash-it'
  'paths': [
    '/Users/nils.winkler/.bash_it'
  ]
'nilswinkler.com':
  'title': 'nilswinkler.com'
  'paths': [
    '/Users/Nils.Winkler/workspaces/Nils/nilswinkler.com'
  ]
